[user]
    name = Your Name
    email = your.email@example.com

[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.gitignore_global

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    # Basic shortcuts
    st = status
    co = checkout
    br = branch
    ci = commit
    di = diff
    dc = diff --cached
    
    # Advanced aliases
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    
    # Useful shortcuts
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = !gitk
    
    # Branch management
    cleanup = "!git branch --merged | grep -v '\\*\\|main\\|develop' | xargs -n 1 git branch -d"
    
    # Diff tools
    vimdiff = difftool --tool=vimdiff --no-prompt

[push]
    default = simple

[pull]
    rebase = false

[init]
    defaultBranch = main

[merge]
    tool = vimdiff

[diff]
    tool = vimdiff